<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Scan inside package java_annotation-->
    <context:component-scan base-package="com.example.sahil.java_annotation"/>


    <bean id="xmlJdbcConnection" class="com.example.sahil.xml_context.connection.XmlJdbcConnection">
        <!-- collaborators and configuration for this bean go here -->
    </bean>

    <bean id="xmlPersonDao" class="com.example.sahil.xml_context.dao.XmlPersonDao" scope="prototype">
        <!-- collaborators and configuration for this bean go here -->
        <property name="xmlJdbcConnection" ref="xmlJdbcConnection"/>
    </bean>

    <!-- more bean definitions go here -->

</beans>